body {
    background-color: rgb(195, 218, 226);
}

.navbar {
    display: flex;
    justify-content: space-around;
}

.btn { background: transparent;
    color: aqua;
    border: solid 5px aqua;

}

.textbox {
    position: relative;
    top: 50px;
    left: 25%;
    width: 60%;
}

h1 {
    font-size: 80px;
   
}

.uph1 {
    font-size: 18px;
    position: relative;
    top: 40px;
    text-align: center;
}

.underh1 {
    font-size: 20px;
    position: relative;
    bottom: 40px;
}

.inputMail {
    height: 50px;
    width: 50%;
}
.sub {
    background-color: orange;
    color: white;
    height: 55px;
    width: 30%;
    position: relative;
    
}