body {
    background-color: rgb(195, 218, 226);
}

.navbar {
    display: flex;
    justify-content: space-around;
}

.btn { background: transparent;
    color: rgb(67, 169, 224);
    border: solid 5px rgb(67, 169, 224);

}

.textbox {
    position: relative;
    top: 50px;
    left: 25%;
    width: 49%;
}

h1 {
    font-size: 80px;
   
}

.uph1 {
    font-size: 18px;
    position: relative;
    top: 40px;
    text-align: center;
}

.underh1 {
    font-size: 20px;
    position: relative;
    bottom: 40px;
    text-align: justify;
}

.inputMail {
    height: 50px;
    width: 50%;
    padding: 5px;
}
.sub {
    background-color: orange;
    color: white;
    height: 60px;
    width: 30%;
    position: relative;
    font-size: 15px;
    
}